body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.main-container {
  background-color: #fff !important;
}

.el-submenu__title {
  font-weight: bold;
  background-color: #eff8ff !important;
  color: #666666 !important;
}

.el-menu-item {
  font-weight: bold;
  background-color: #eff8ff !important;
  color: #666666 !important;
  &.is-active{
    font-weight: bold;
    color: #3489fe !important;
    i {
      color: #3489fe !important;
    }
  }
}
.el-table{
  th, td {
    text-align: center;
    color: #333333;
  }
}

.el-submenu.is-active{
    .el-submenu__title{
      font-weight: bold;
      color: #3489fe !important;
      i {
        color: #3489fe !important;
      }
    }
}

.el-dialog__header {
  background-color: #f7faff;
  border-bottom: 1px solid #c4dbfe;
}

.el-tabs__nav-wrap.is-top {
  padding-left: 30px !important;
}

.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
  border-bottom: 1px solid #e4e7ed;
  background-color: #3489fe;
  color: #fff;
  border-radius: 2px;
}

.el-date-editor .el-range-separator {
  width: 10% !important;
}

.el-tabs__content {
  padding: 10px !important;
}

.el-textarea__inner {
  resize: none;
}

.pd-b-0 {
  padding-bottom: 0;
}

.pd-l-25 {
  padding-left: 25px;
}

.pd-r-30 {
  padding-right: 30px;
}

.mg0 {
  margin: 0;
}

.mg-t-0 {
  margin-top: 0;
}

.mg-t-5 {
  margin-top: 5px;
}

.mg-b-5 {
  margin-bottom: 5px;
}

.mg-r-5 {
  margin-right: 5px;
}

.mg-b-10 {
  margin-bottom: 10px;
}

.mg-t-10 {
  margin-top: 10px;
}

.mg-t-20 {
  margin-top: 20px;
}

.mg-l-10 {
  margin-left: 10px;
}

.mg-l-20 {
  margin-left: 20px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.red {
  color: #F56C6C;
}

.normal {
  font-weight: normal !important;
}

.bold {
  font-weight: bold;
}

.font14 {
  font-size: 14px;
}

.el-breadcrumb {
  margin: 0 0 10px 10px;
  font-size: 18px;
  font-weight: bold;
}

.page {
  margin-top: 20px;
  text-align: right;
  padding-right: 35px;
}

.multiline-1 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.multiline-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.hide-picture .el-upload-list .el-upload-list__item{
  display: none;
}
.el-icon-circle-close{
  color: #fff;
}